@page
@model EmpresaTec.App.Sitioweb.App.Pages.ListModelP
@{
}
<h1>Listado de proyectos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Fecha estimada</th>
            <th>Costo</th>
            <th>Fecha de inicio</th>
            <th>Descripción</th>
            <th>Estado actual</th>
            <th>Servicio</th>

            <th>Borrar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.projects) //Model conecta con el List.cshtml.cs
        {
            <tr>
                <td>@project.name</td>
                <td>@project.code</td>
                <td>@project.stimatedDate</td>
                <td>@project.cost</td>
                <td>@project.startDate</td>
                <td>@project.description</td>
                <td>@project.actualStateId</td>
                <td>@project.servicesId</td>

                <td>
                    <a class="btn btn-danger" asp-page=".\Delete" asp-route-id="@project.projectId">Borrar</a>
                </td>
                <td>
                    <a class="btn btn-info" asp-page=".\Edit" asp-route-id="@project.projectId">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<td>
    <a class="btn btn-warning" asp-page=".\Create">Crear proyecto</a>
</td>


